
html {
  font-size: 65.5%;
}
body {
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0;
  background: rgb(55, 99, 105) url(https://oir.mobi/uploads/posts/2020-01/1579280167_22-37.jpg) no-repeat center fixed;
  background-size: 100%;
}
/*Main-logo*/
.main-logo{
  width: 50px;
  height: 39px;
  display: inline-block;
  text-align: center;
}
/*Navbar-footer*/
.navbar-footer {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0px;
  left: 0;
  border: 2px darkgray;
}
.navbar-footer .item {
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  font: bold 1.8rem 'Roboto Condensed', "Javanese Text", sans-serif;
  padding: 8px 9px;
  align-items: normal;
  text-transform: full-width;
  margin: 0 20px;
  display: inline-block;
}

.item:hover {
  border-bottom: 2px solid #5a75fc;
}

.h1{
  font-size: 70px;
}
h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}
.box {
  margin-top: 90px;
  font-family: 'Roboto Condensed', "Javanese Text", sans-serif;
  width: 75%;
  height: 90%;
  background-color: #fff;
  padding-bottom: 100px;
  border-radius: 30px;
}
.brand {
  width: 128px;
  margin-right: 15px;
}
/*end*/


/*Made by CS-2110 group members(Margulan Zhumabek, Aruzhan Kadralinova, Akzhan Mataev)*/
